streamlit==1.38.0
pandas==2.2.2
geopandas==0.14.4
shapely==2.0.4
fiona==1.9.6
contextily==1.6.0
earthengine-api==0.1.408
openpyxl==3.1.2
python-docx==1.1.2
folium==0.16.0
streamlit-folium==0.21.0
geemap==0.32.1
lxml==5.2.1
pyproj==3.6.1
